<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>forum</title>
  <link rel="stylesheet" href="https://crg.eti.br/crg.css">
</head>

<body>

  <div id="forumMenu">
    {{if .SessionData.LoggedIn}}
    Logged in as {{.SessionData.UserName}} |
    <a href={{.LogoutURL}}>Logout</a>
    {{else}}
    <a href={{.GitHubLoginURL}}>Login</a>
    {{end}}
  </div>

  <div class="forum">
    {{ range $val := .ForumList }}
    <div class="forumTitle">
      <a href="/forum/{{ $val.NameSlug }}">{{ $val.Name }}</a>
    </div>
    {{ end }}
  </div>

</body>


</html>